.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.item:last-child {
  margin-bottom: 0;
}

.checkbox {
}

.deleteBtn {
  font-size: 20px;
  background-color: inherit;
  border: none;
}
.span {
  font-size: 16px;
}
.spanChecked {
  color: #eee;
  font-style: italic;
  text-decoration: line-through;
}
