.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.item:last-child {
  margin-bottom: 0;
}

.checkbox {
}

.deleteBtn {
}

.span-chekced {
  font-style: italic;
  text-decoration: line-through;
}
