.container {
  width: 350px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.list {
  width: 100%;
  list-style: none;
  text-decoration: none;
}
